.left {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
}

.profile span {
  margin: 20px;
}

.profile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 10px;
}
.navbar {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #0c6470;
  color: #fff;
}

.FontAwesomeIcon {
  padding: 10px;
}
